.landing__page {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25%;
  color: #0d64e7;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 2.75em;
  animation: animation 4s ease infinite;
  animation-name: animation;
  text-transform: uppercase;
  text-shadow: #fff 0px 0px 1px, #fff 0px 0px 1px, #fff 0px 0px 1px,
    #fff 0px 0px 1px, #fff 0px 0px 1px, #fff 0px 0px 1px;
}
@keyframes animation {
  from {
    color: #0d64e7;
  }
  to {
    color: #fff;
  }
}
