.landing__page {
  margin: 0 auto;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 27%;
  color: #0d64e7;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 3.2em;
  text-transform: uppercase;
  text-shadow: #fff 0px 0px 3.5px, #fff 0px 0px 1px, #fff 0px 0px 1px,
    #fff 0px 0px 1px, #fff 0px 0px 1px, #fff 0px 0px 1px;
}
.name {
  animation: animation 5s linear forwards;
  animation-name: animation;
}
.subtitle {
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.icons * {
  cursor: pointer;
}

@keyframes animation {
  from {
    color: #0d64e7;
  }
  to {
    color: #fff;
  }
}

@media (max-width: 400px) {
  .landing__page {
    text-align: center;
    margin: 4px;
  }
}
