html {
  scroll-behavior: smooth;
  margin: 0 auto;
}
:root {
  --color-main-blue: #0d64e7;
  --color-main-white: #fff;
  --global-text-shadow: #fff 0px 0px 3.5px, #fff 0px 0px 1px, #fff 0px 0px 1px,
    #fff 0px 0px 1px, #fff 0px 0px 1px, #fff 0px 0px 1px;
}
/* home page */

.landing__page {
  margin: 0 auto;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  letter-spacing: 3px;
  justify-content: center;
  margin-top: 10%;
  color: var(--color-main-blue);
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 3.2em;
  text-transform: uppercase;
  text-shadow: var(--global-text-shadow);
  height: 60vh;
}
.name {
  animation: animation 1s linear forwards;
  letter-spacing: 3px;
  animation-name: animation;
}
.subtitle {
  font-size: 1.75rem;
  margin-bottom: 10px;
  letter-spacing: 3px;
  animation: animation 1s linear forwards;
  animation-name: animation;
  animation-delay: 0.5s;
}
.icon {
  cursor: pointer;
  margin-top: 10%;
}

.icon__container {
  color: var(--color-main-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-top: 13px;
  font-size: 1.2em;
}

.icon {
  opacity: 30%;
  transition: opacity 2s ease;
  /* transition: all 0.6s ease-in-out; */
}
.icon:hover {
  opacity: 100%;
  text-shadow: var(--global-text-shadow);
  /* transform: opacity; */
}

.icon-title {
  font-size: 0.45em;
}

@keyframes animation {
  from {
    color: var(--color-main-blue);
  }
  to {
    color: var(--color-main-white);
  }
}
@keyframes animation-title {
  from {
    color: var(--color-main-blue);
  }
  to {
    color: var(--color-main-white);
  }
}

@media (max-width: 400px) {
  .landing__page {
    text-align: center;
    margin-top: 35%;
  }
  .icon__container {
    flex-direction: column;
    align-items: center;
  }

  .icon {
    margin: 5%;
  }
}

/* about page */

.about-container {
  margin: 5px 12px 0px 12px;
  display: flex;
  border: solid 3px var(--color-main-white);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.unstyled-text {
  text-shadow: none;
  flex-wrap: wrap;
  font-size: 1.5em;
  padding: 20px;
  letter-spacing: 1px;
  color: var(--color-main-white);
}

.tools-section {
  margin: 7px auto auto auto;
  /* border: solid 3px var(--color-main-white); */
  border-radius: 15px;
  /* box-shadow: var(--global-text-shadow); */
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 700px;
}
.tools {
  padding: none;
  width: 40%;
  height: 70vh;
  border: solid 3px var(--color-main-white);
  border-radius: 15px;
  color: var(--color-main-blue);
  text-shadow: var(--global-text-shadow);
  font-size: 1.6em;
}

.list {
  font-size: 1em;
}
